<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>


  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    alt="KiddoLife Logo"
    src="../assets/images/logo_kiddolife.png"
  />
  <div class="toolbar-actions">
    <button mat-icon-button [matMenuTriggerFor]="langMenu">
      <mat-icon style="color: #D91A4D;">language</mat-icon>
    </button>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item>English</button>
      <button mat-menu-item>Русский</button>
    </mat-menu>

    <a routerLink="/register" mat-button *ngIf="!isAuthenticated()">Register</a>
    <a routerLink="/login" mat-button *ngIf="!isAuthenticated()">Sign In</a>
    <a routerLink="/add-place" mat-button *ngIf="isAuthenticated()">Add Place</a>
    <a routerLink="/profile" mat-button *ngIf="isAuthenticated()">Profile</a>
    <a routerLink="/favourites-list" mat-button *ngIf="isAuthenticated()">Favourites</a>
    <a routerLink="/approve-places" mat-button *ngIf="isAdmin()">Approve Places</a>
  </div>
</div>

<main class="content" role="main">
  <router-outlet></router-outlet>
</main>