<h1 class="main-title">We can help you find the best kids' experiences</h1>
<form (ngSubmit)="onSearch()">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Ex. Tanuki" (input)="onSearchInputChange($event.target)" [(ngModel)]="search" name="search">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Age</mat-label>
    <mat-select [(ngModel)]="age" name="age">
      @for (age of ages; track age) {
      <mat-option [value]="age">{{age}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Area</mat-label>
    <mat-select [(ngModel)]="area" name="area">
      @for (area of areas; track area) {
      <mat-option [value]="area">{{area}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <mat-select [(ngModel)]="price" name="price">
      @for (price of prices; track price) {
      <mat-option [value]="price">{{price}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="category" name="category">
      @for (category of categories; track category) {
      <mat-option [value]="category">{{category}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div>
    <button type="button" mat-button (click)="onClearSelection()">Clear Selection</button>
    <button type="submit" mat-raised-button>Search</button>
  </div>
</form>

<mat-tab-group>
  <mat-tab label="Places list">
    <div class="content">
      <app-places-list></app-places-list>
    </div>
  </mat-tab>
  <mat-tab label="Map">
    <div class="content">
      <app-places-map></app-places-map>
    </div>
  </mat-tab>
</mat-tab-group>