<mat-card appearance="outlined">
  <mat-card-header>
    <h2 i18n>Sign In</h2>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill">
        <mat-label i18n>Email</mat-label>
        <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Enter email" required matInput
          i18n-placeholder>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="password" i18n>Password</mat-label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Enter password"
          required matInput i18n-placeholder>
      </mat-form-field>
      <div class="form-links">
        <a (click)="onForgotPassword()" mat-button i18n>Forgot password?</a>
      </div>
      <button type="submit" mat-raised-button i18n>Login</button>
      <div class="login-link">
        <p i18n>Do not have an account?</p>
        <a routerLink="/register" mat-button i18n>Register</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>