<mat-card appearance="outlined">
    <mat-card-header>
        <h2 i18n>Add a new place or experience</h2>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="onCreate()" #form>
            <mat-form-field appearance="fill">
                <mat-label for="name" i18n>Name</mat-label>
                <input type="name" id="name" [(ngModel)]="name" name="name" placeholder="Name of the place" required
                    matInput i18n-placeholder>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label for="description" i18n>Description</mat-label>
                <textarea id="description" [(ngModel)]="description" name="description" placeholder="Description"
                    required matInput i18n-placeholder></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label i18n>Age</mat-label>
                <mat-select [(ngModel)]="age" name="age" required>
                    @for (age of ages; track age) {
                    <mat-option [value]="age">{{age}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label i18n>Area</mat-label>
                <mat-select [(ngModel)]="area" name="area" required>
                    @for (area of areas; track area) {
                    <mat-option [value]="area">{{area}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label i18n>Price</mat-label>
                <mat-select [(ngModel)]="price" name="price" required>
                    @for (price of prices; track price) {
                    <mat-option [value]="price">{{price}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label i18n>Category</mat-label>
                <mat-select [(ngModel)]="category" name="category" required>
                    @for (category of categories; track category) {
                    <mat-option [value]="category">{{category}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label for="latitude" i18n>Latitude</mat-label>
                <input type="number" step=".0000001" id="latitude" [(ngModel)]="latitude" name="latitude"
                    placeholder="Latitude. Can be taken from Google Maps" required matInput i18n-placeholder>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label for="longitude" i18n>Longitude</mat-label>
                <input type="number" step=".0000001" id="longitude" [(ngModel)]="longitude" name="longitude"
                    placeholder="Longitude. Can be taken from Google Maps" required matInput i18n-placeholder>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label for="imageUrl" i18n>Image Url</mat-label>
                <input type="url" id="imageUrl" [(ngModel)]="imageUrl" name="imageUrl" placeholder="Image Url" required
                    matInput i18n-placeholder>
            </mat-form-field>

            <div>
                <button type="submit" mat-raised-button [disabled]="!form.checkValidity()" i18n>Create</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>