.restaurant-card {
    .row {
      padding: 16px 16px;
      display: flex;
      flex-direction: row;
  
      > img {
        max-width: 50%;
      }
  
      p {
        padding: 8px;
      }
  
      mat-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  mat-card-header {
    flex-direction: column;
  }